<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="www.google.com">Groupware by</a><a href="www.mahmud.com">Framgia BD</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", welcomes_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>